:root {
  --timelineMainColor: #222;
  --timelineSecondaryColor:  #fff;
  --timelineBgColor:  #4557bb;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
     box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  background-color: #f0f0f0;
  font-family: "Lato", helvetica, arial, sans-serif;
  font-size: 1.7rem;
  text-shadow: 0, 2px, 0 rgba(0,0,0, .07);
  -webkit-overflow-scrolling: touch;   
  overflow-y: scroll; 
}


p {
  border: 1px solid black;
  line-height: 1.45;
  margin-bottom: 1.5rem;
}
p:last-child {
  margin-bottom: 0;
}

.timeline-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid red;
}
   .timeline-section__container {
     flex-grow: 1;
     max-width: 800px;
     padding: 3rem;
     margin: 0 auto;
     border: 1px solid black;
   }
    .timeline {
      font-size: 1.5rem;
      padding: 3rem 0;
      position: relative;
      border: 1px solid green;
     
    }

    .timeline__group {
      position: relative;
      margin-top: 4rem;
      padding-top: 55px;
    }

    .timeline__group:first-of-type {
      margin-top: 0;
    }

     .timeline__year {
      padding: .5rem 1.5rem;
      color: var(--timelineSecondaryColor);
      background-color:var(--timelineBgColor);
      /* placement  */
      position: absolute;
      top: 0;
      left: 0;
    }

    .timeline__box {
      margin-bottom: 3rem;
      position: relative;
      padding-left: 90px;
    }
    .timeline__box:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--timelineBgColor);
      z-index: -1;
    }

    .timeline__box:last-of-type {
      margin-bottom: 0;
    }

    .timeline__date {
      color: var(--timelineSecondaryColor);
      background: var(--timelineBgColor);
      padding: .5rem 1.5rem;
      text-align: center;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left:0;
      margin-top: -27px;
      min-width: 65px;
    }

    .timeline__date span {
      font-size: 70%
    }

    .timeline:before {
      content: "";
      position: absolute;
      top: 3rem;
      left: 30px;
      width: 4px;
      height: 90%;
      background-color: var(--timelineBgColor);
    }

       .timeline__day,
       .timeline__month {
         display: block;
         font-size: 1.5rem;
       }

       .timeline__day {
         font-weight: 700;
       }
       .timeline__month {
         text-transform: uppercase;
       }

       .timeline__content {
         background-color: var(--timelineSecondaryColor);
         border-left: 3px solid var(--timelineBgColor);
         border-radius: 3px;
         padding: 1.5rem 2rem;
         width: 90%;
         margin-left: 10%;
       }





